#game-board {
    display: grid;
    width: 450;
    grid-template-columns: repeat(4. 1fr);
    gap: 10px;
    max-width: 500px;
    margin: 20px;
}

.card {
    height: 100px;
    width: 100px;
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 8px;
    color: transparent;           /*hidde the element*/
}

.card.flipped {
    background-color: #ecf0f1;
    color: black;
    cursor: default;
}